[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/segwise-intern-assignment
ExecStart=/home/ubuntu/segwise-intern-assignment/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          Data_Analisys_API.wsgi:application
[Install]
WantedBy=multi-user.target
